boto3==1.35.4
defusedxml==0.7.1
GeoAlchemy2==0.15.2
geopandas==1.0.1
matplotlib==3.8.0
motmetrics==1.4.0
numpy==1.23.5
opencv-python-headless==4.9.0.80
pandas==2.1.4
psycopg2-binary==2.9.9
pygame==2.5.2
pytest==7.4.0
scikit-learn==1.1.3
scipy==1.9.3
SQLAlchemy==2.0.25
tensorflow==2.16.1
torch==2.3.0
torchvision==0.18.0
ultralytics==8.2.56
urllib3==1.26.6